<div class = "container" id = "body">
  <div class = "container" id = "nasa-ad">
    <div class = "jumbotron">
      <img id = "nasa" src="css/nasa.svg">
      <h1>Join the NASA Tournament Lab Challenges!</h1>
      <p>This month, Freelancer is teaming up with the NASA Tournament Lab (NTL)
         to crowdsource some of the most complex problems being faced by astronauts
         on the cutting edge of space exploration.
         Over 15 Contests being hosted throughout the month!</p>
    </div>

    <div class = "row">
      <div class = "col-lg-6">
        <h1>Need work done?</h1>
        <br>
        <p>Post your project and receive competitive bids from freelancers
          within minutes. Our reputation system will make it easy to find the
          perfect freelancer for your job. It's the simplest and safest way to
          get work done online!</p>

        <h4>How do you benefit?</h4>
        <ul>
          <li>You'll receive competitive bids from our talented freelancers within minutes</li>
          <li>Keeping up-to-date is easy with our realtime chat, 24/7 support, time tracker, and mobile apps</li>
          <li>Pay for work safely and securely. Only release payment when you are 100% satisfied with the work provided!</li>
        </ul>
      </div>
      <div class = "col-lg-6">
        <a href = "#"><img src="https://cdn2.f-cdn.com/static/css/images/homepage/interactive-step.gif?v=ef0a3d64f314368a10f63aa88a7bc0db&amp;%3Bm=5" id="graphic"></a>
      </div>
      <div class = "hire-section">
        <h3>Hire Freelancers and Find Freelance Jobs Online</h3>
        <ul>
          <li></li>
        </ul>
      </div>
    </div>
  </div>
</div>
