<div class="row">
  <div class="container text-center" id="footer">
    <ul class="list-inline">
      <li>Find freelancers</li>
      <li>Freelance projects</li>
      <li>Freelance jobs</li>
      <li>Freelance contests</li>
      <li>Hire Freelancers</li>
      <li>Freelance work</li>
    </ul>
    <br>
    <p class="text-center">Copyright 2015 Freelancer Technology Pty Limited</p>
    <ul class="list-inline">
      <li>About us</li>
      <li>Privacy Policy</li>
      <li>Terms & Conditions</li>
      <li>Fees & Charges</li>
      <li>Investor</li>
      <li>Community</li>
    </ul>
  </div>
</div>
