<nav class="navbar navbar-fixed navbar-default">
  <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand" href="#"><img class="img-responsive" id="logo-image" src="css/freelancer.png"></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <a href="#"><li>Login</li></a>
          <a href="#"><li>Sign In</li></a>
          <li><button type="button">Post a Project</button></li>
        </ul>
      </div>
  </div>
</nav>
